 @import url('https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap');

body {
	background: #000;
	color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Barlow', sans-serif;
}

.nav {
	position: fixed;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background: #fff;
	border-bottom: 3px solid #000;
}

.navItem {
	display: inline;
	width: auto;
	margin: 5px 10px;
}

.purpose {
	display: none;
	width: 100%;
	background: #fff;
	color: #000;
	padding: 0 50px;
	margin: auto;
	box-sizing: border-box;
}

#publicFigures,
#profiteers {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 50px;
}

#publicFigures .card {
	background: #FF9800;
	box-shadow: 5px 5px 0px #FFE0B2;
}

#publicFigures .card:hover {
	box-shadow: 10px 10px 0px #E65100;
}

#profiteers .card {
	background: #4CAF50;
	box-shadow: 5px 5px 0px #C8E6C9;
}

#profiteers .card:hover {
	box-shadow: 10px 10px 0px #1B5E20;

}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 10px 0;
	padding: 0;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	font-weight: 400;
}

h2 span,
p span {
	display: inline-block;
	background: #000;
	color: #fff;
	padding: 3px;
}

p {
	font-size: 1.5em;
	margin: 5px 0;
}

p.source {
	margin-top: 20px;
	font-size: 0.9em;
}

p.source span {
	background: none;
}

p.source a {
	color: #000;
}

.card {
	color: #000;
	margin-top: 20px;
	padding: 20px;
	box-shadow: 5px 5px 0px;
	transition: 0.2s ease all;
}

.card:hover {
	box-shadow: 10px 10px 0px ;
}

@media screen and (max-width: 800px) {
	#publicfigures {
		width: 100%;
		max-width: 90%;
		padding: 25px;
	}
}